* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #fff;
    color: white;   
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 130px;
}

.logo-home {
    flex: 1;
    text-align: left;
    padding-left: 15px;
}

.logo {
    height: 150px;
    max-width: 100%; /* Garante que o logo não ultrapasse o tamanho da div */
    margin-right: auto; /* Empurra a imagem para a esquerda */
}

.nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 15px;

}

.nav ul {
    list-style: none; /* Remove as marcas de lista */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
    display: flex; /* Exibe os itens da lista em linha */
    
}

.nav ul li {
    margin: 0 15px; /* Adiciona espaço entre os itens do menu */
    position: relative;
    display: inline;
}

.nav ul li a {
   text-decoration: none;
   color: #435782;
   font-size: 18px;
   font-style: normal;
   display: block;
}

.dropdown-content {
    display: none; /* Esconde o dropdown inicialmente */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Exibe o dropdown ao passar o mouse */
.dropdown:hover .dropdown-content {
    display: block;
}

.banner-home {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: auto;
    background-size: cover; /* Ajusta a imagem de fundo para cobrir toda a área */
    background-position: center; /* Mantém o foco centralizado */
}

.texto-banner {
    position: absolute; /* Posiciona o texto sobre a imagem */
    top: 50%; /* Alinha o texto verticalmente no centro */
    left: 50px; /* Alinha o texto horizontalmente no centro */
    transform: translateY(-50%); 
    color: #fff; /* Cor do texto */
    font-family: 'Poppins', sans-serif; /* Fonte do Google Fonts */
    width: 45%;
}

.texto-banner h1 {
    font-size: 50px;
    margin: 0;
}

.texto-banner p {
    font-size: 24px;
}

.serviços, .sobre, .descrição, .contato {
    width: 100%;
    padding: 0 10px; /* Pequeno espaço para evitar borda colada */
    margin: 0 auto;
}

.serviços {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
}

.detalhes {
    width: 250px;
    padding: 10px;
}

.detalhes h2 p {
    text-align: center; /* Centraliza ambos os elementos */
    margin: 0; /* Remove margens */
    padding: 0; /* Remove padding */
}

.detalhes h2 {
    font-size: 25px;
    color: #435782;
}

.detalhes p {
    margin-top: 5px;
    font-size: 18px;
}

.sobre {
    background-color: #435782;
    display: flex;
    padding: 70px 0;
    position: relative;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: #fff;
    font-size: 30px;
    padding-right: 30px;
}

.sobre-nos {
    width: 48%;
    align-items: center;
    justify-content: center;
}

.sobre-nos p {
    color: #fff;
    font-size: 15px;
    text-align: justify;
    padding-bottom: 10px;
}

.descrição {
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo-descricao {
    display: block;
}

.titulo-descricao h4 {
    color: #435782;
    font-size: 35px;
    margin: 0;
    padding-top: 80px;
    font-style: normal;
    font-weight: 600;
}

.titulo-descricao p {
    font-size: 20px;
    margin: 0;
    padding-bottom: 50px;
    color: black;
}

.services-cards {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    padding-bottom: 80px;
}

.service-card {
    padding: 20px 10px;
    width: 310px;
    height: auto;
    align-items: center;
    box-sizing: content-box;
}

.service-card img {
    width: 300px;
    height: auto;
}

.service-card h5 {
    font-size: 20px;
    color: #435782;
    margin: 0;
    padding-top: 10px;
}

.service-card p {
    font-size: 14px;
    color: black;
    padding-bottom: 10px;
}

.service-card button {
    font-family: poppins;
    background-color: #435782;
    color: #fff;
    font-size: 16px;
    width: 300px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    border-color: #435782;
    transition: bacbackground-color 0.3s;
}

.service-card button:hover {
    cursor: pointer;
    background-color: #ddd;
}

.contato {
    background-color: #435782;
    max-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url(./img/banner-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contato::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(67, 87, 130, 0.6); /* Transparência aplicada à imagem */
    z-index: 1;
}

.map {
    display: flex;
    padding: 20px;
    align-items: center;
    text-align: left;
    width: 50%;
    position: relative;
    z-index: 2;
}

.map iframe {
    width: 100%;
    height: 480px;
    
}

.dados-contato {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    padding: 50px;
}

.info-item {
    display: flex;
    align-items: center; /* Alinha ícone e texto na vertical */
    margin-bottom: 10px; /* Espaçamento entre cada item */
}

.info-item i {
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

.info-item p {
    color: #fff;
}

.dados-contato h6 {
    color: #fff;
    font-size: 30px;
    text-align: left;
    font-weight: 500;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
    z-index: 2;
}

.dados-contato p {
    text-align: left;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    position: relative;
    z-index: 2;
}

.dados-contato i {
    color: #fff;
    font-size: 20px;
    position: relative;
    z-index: 2;
}

.dados-contato a {
    text-decoration: none;
}

.dados-contato a:hover {
    text-decoration: underline;
    color: #ddd;
}

footer {
    display: flex;                 
    flex-direction: column;        
    justify-content: center;       
    align-items: center;           
    text-align: center;           
    width: 100%;                  
    padding: 20px;                
    background-color: #fff;        
    color: #435782;                   
    position: relative;            
}
footer a {
    color: #435782;                   
    text-decoration: none;        
    margin: 0 10px;               
}


footer a:hover {
    text-decoration: underline;    
    color: #ddd;                   
}

footer p {
    margin: 0;                    
    padding: 0;                   
    font-size: 18px;
}

footer i {
    font-size: 22px;
}

@media (max-width: 828px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
    } 

    .nav ul li a {
        display: block; /* Muda para bloco em telas menores */
        margin: 5px 0; /* Espaçamento vertical */
        font-size: 15px;
    }

    .texto-banner {
        width: 80%; /* Ajusta a largura do texto */
        left: 10px; /* Alinha o texto para caber melhor */
    }
   
    .texto-banner h1 {
        width: 60%;
        font-size: 30px;
        line-height: 1.2; /* Controla a altura da linha */
        word-wrap: break-word; /* Quebra o texto */
        padding-bottom: 10px;
    }

    .texto-banner p {
        width: 60%;
        font-size: 30px;
        line-height: 1.4;
    }

    .serviços {
        display: flex;
        flex-direction: column;
        align-items: center; /* Alinha as divs ao centro */
        padding: 0;
        margin: 0;
    }

    .detalhes {
        width: 100%; /* Faz com que as divs ocupem toda a largura disponível */
        max-width: 100%;
    }

    .detalhes h2 {
        font-size: 20px;
    }

    .detalhes p {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .sobre {
        flex-direction: column;
        align-items: center;
    }

    .titulo {
        width: 80%;
        text-align: center;
        padding-bottom: 20px;
    }

    .titulo h3 {
        font-size: 30px;
    }

    .sobre-nos {
        width: 80%;
    }

    .sobre-nos p {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .titulo-descricao h4 {
        font-size: 25px;
    }

    .titulo-descricao p {
        font-size: 15px;
    }

    .services-cards {
        flex-direction: column;
    }

    .service-card {
        align-items: center;
    }

    .contato {
        flex-direction: column;
    }

    .dados-contato h6 {
        font-size: 25px;
    }

    .info-item p {
        font-size: 20px;
        color: #fff;
        text-decoration: none;
    }

    .map {
        width: 100%;
    }

    .google-map {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .texto-banner {
        width: 80%; /* Ajusta a largura do texto */
        left: 10px; /* Alinha o texto para caber melhor */
    }
   
    .texto-banner h1 {
        width: 80%;
        font-size: 20px;
        line-height: 1.2; /* Controla a altura da linha */
        word-wrap: break-word; /* Quebra o texto */
        padding-bottom: 10px;
    }

    .texto-banner p {
        width: 60%;
        font-size: 10px;
        line-height: 1.4;
    }

    .detalhes h2 {
        font-size: 18px; /* Título menor para telas muito pequenas */
    }

    .detalhes p {
        font-size: 14px; /* Texto menor para dispositivos móveis menores */
    }

    .sobre {
        flex-direction: column;
        align-items: center;
    }

    .titulo {
        width: 80%;
        text-align: center;
        padding-bottom: 20px;
    }

    .titulo h3 {
        font-size: 22px;
    }

    .sobre-nos {
        width: 80%;
    }

    .sobre-nos p {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .services-cards {
        flex-direction: column;
    }

    .services-cards {
        flex-wrap: wrap;
    }

}

@media (max-width: 390px) {
    nav ul li {
        font-size: 5px;
    }

    .texto-banner h1 {
        font-size: 10px;
    }

    .texto-banner p {
        font-size: 5px;
    }

    .detalhes h2 {
        font-size: 10px; /* Título menor para telas muito pequenas */
    }

    .detalhes p {
        font-size: 5px; /* Texto menor para dispositivos móveis menores */
    }

    .titulo-descricao h4 {
        font-size: 10px;
    }

    .titulo-descricao p {
        font-size: 5px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .titulo {
        font-size: 20px;
    }

    .texto-banner {
        margin: 0;
        width: 100%;
    }

    .texto-banner h1 {
        font-size: 30px;
        text-align: left;
    }

    .texto-banner p {
        font-size: 15px;
        text-align: left;
    }

    .detalhes {
        padding: 0 20px;
    }

    .services-cards {
        flex-wrap: wrap;
    }
}

/* Large screens (e.g., desktops) */
@media (min-width: 1025px) {
    header {
        padding: 10px 20px;
    }

    .serviços {
        display: flex;
        align-items: center;
    }

    .services-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}